
    <!-- Main jumbotron for a primary marketing message or call to action -->

<section class="mvpm-ui-view"><!-- should usually be 100% width of viewport -->
    <div class="container">
        <section class="row">
            <div class="col-md-2">
                <aside class="filters-sidebar" ui-view="filters"></aside>
            </div>
            <div class="col-md-7">
                <main ui-view="list"></main>
            </div>   
            <div class="col-md-3">
                <aside class="saves-sidebar" ui-view="saves"></aside>
            </div>   
        </section>
    </div>
    </section>

</section>